html{
    box-sizing: border-box; 
    height: 100%;
    width: 100%;
}

body{
    background-color: hsl(233, 47%, 7%);
    color: hsl(0, 0%, 100%);
    font-family: Inter;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    text-align: center;
}

.box-all{
    background-color: hsl(244, 38%, 16%);
    width: 100%;
    max-width: 327px;
    margin: auto;
    font-size: 15px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.img-box img{
    max-width: 327px;
    border-radius: 10px 10px 0 0 ;
    filter: contrast(200%);
    filter: hue-rotate(90deg);
}

.img-box{
    width: 100%;
}

.img-box:nth-of-type(3){
    display: none;
}

#color{
    background-color: hsl(277, 78%, 32%);
    min-width: 327px;
    min-height: 240px;
    position: absolute;
    z-index: 1;
    opacity: 57%;
    border-radius: 10px 10px 0 0;
}

.bigger-box{
    margin: 20px;
}

h1{
    font-weight: 700;
    padding-top: 10px;
}

#violetText{
    color: hsl(277, 64%, 61%);
}

div > h1 + p{
    font-family: Lexend Deca;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
    line-height: 25px;
    padding: 0 10px 0 10px;
}

.stats{
    padding: 10px;
}

.stats:nth-of-type(3){
    padding-bottom: 40px;
}

.stats > p{
    margin: 5px;
    font-size: 25px;
}

.stats > p + span{
    text-transform : uppercase;
    font-family: Lexend Deca;
    font-weight: 300;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 12px;
}


@media all and (min-width: 1300px) {

    .box-all{
        max-width: 1110px;
        max-height: 446px;
        display: inline-flex;
    }

    .img-box:nth-of-type(1){
        display: none;
    }

    .img-box:nth-of-type(3){
        display: inline-flex;
        width: 50%;
    }

    .img-box:nth-of-type(3) > div + img{
        min-width: 100%;
        border-radius: 0 10px 10px 0;
    }

    .bigger-box{
        text-align: left;
        margin: 0;
        width: 50%;
    }

    h1{
        margin-top: 60px;
        margin-right: 90px;
        margin-bottom: 20px;
        margin-left: 65px;
        font-size: 38px;
        
    }

    .bigger-box > h1 + p{
        margin-top: 30px;
        margin-right: 110px;
        margin-bottom: 55px;
        margin-left: 65px;
        padding: 0;
    }

    .stats{
        width: 130px;
        display: inline-block;
        padding-left: 0;
    }

    .stats:nth-of-type(1){
        margin-left: 65px;
    }

    .stats > p{
        margin: 0;
        padding-bottom: 5px;
    }

    .stats > p + span{
        font-size: 13.5px;
    }

    div#color{
        border-radius: 0 10px 10px 0;
        min-width: 555px;
        min-height: 446px;
    }

}

